
@{
    ViewBag.Title = "cms";
}

<div class="main-container">
    <section class="cover-height-60 imagebg space--lg" data-overlay="3">
        <div class="background-image-holder">
            <img alt="background" src="img/b2bphoto_4.jpg" />
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-3">
                    <br><br><br><br>
                    <h2>
                        İşlemlerinizi dijital ortamda gerçekleştirin
                    </h2>
                </div>

                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-4">
                    <p class="lead">
                        Satış ve kar oranlarınızı arttırın, büyüyün!
                    </p>
                </div>

            </div>
        </div>
    </section>
    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-2">
                    <h2>B2B (Firmadan Firmaya E-Ticaret)</h2>
                    <p>

                        İşletmelerden (firmalardan), işletmelere (firmalara) yapılan e-ticaret modeline B2B adı verilmektedir.
                        B2B e-ticaret modelinde son kullanıcı olarak tanımlandırılan internet tüketicilere satış işlemi gerçekleştirilmez.
                        Örnek olarak toptan satış işlemi gerçekleştiren bir distribütörün bayilerine yapmış olduğu e-ticaret şekli verilebilir.
                        B2B e-ticaret son günlerde ülkemizde oldukça gelişmeye başlayan bir e-ticaret tekniğidir. Bayisi olan veya kendisinden
                        ürün satın almak isteyen firmalara en hızlı ve kolay bir şekilde ulaşmak isteyen firmalar tarafından tercih edilmektedir.
                    </p>
                    <h4><strong>B2B E-Ticaretin Temel Özellikleri</strong><br /></h4>

                    <div class="col-sm-4">
                        <div class="feature feature-1 boxed boxed--border">
                            <h5>7/24 Online Erişim</h5><br />
                            <p>
                                B2B’nin tercih edilmesinin en büyük nedeni sürekli alım-satım hizmetinin devam ediyor olmasıdır. Firmalar mesai satlerinden veya tatillerden etkilenmeden ticaretlerini aralıksız online olarak 7/24 sürdürebilmektedirler. Size büyük avataj sağlacak.


                            </p>
                        </div>
                        <!--end feature-->
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-1 boxed boxed--border">
                            <h5>Erişim Kolaylığı</h5><br />
                            <p>
                                B2B e-ticaret sistemlerinin ikinci önemli özelliği ise erişim kolaylığıdır. Firmalar internet sayesinde dünyanın herhangibir yerindeki müşterilerine ulaşabilir, ürünlerini tanıtabilir ve satışlarını anlık olarak online gerçekleştirebilirler.


                            </p>
                        </div>
                        <!--end feature-->
                        </a>
                    </div>

                    <div class="col-sm-4">
                        <div class="feature feature-1 boxed boxed--border">
                            <h5>İşlemlerin Diğital Ortamda Gerçekleşmesi</h5><br />
                            <p>
                                İnternet üzerinden yapılan tüm işlemler dijital ortamda gerçekleşmektedir. Dijital bilgiler ise kolaylıkla depolanabilir, transfer edilebilir, kullanılabilir. Böylelikle işlemler hem hızlı hemde güvenli bir şekilde gerçekleşmektedir.


                            </p>
                        </div>
                        <!--end feature-->
                        </a>
                    </div>

                    <p>

                        <center>
                            <div class="col-sm-4">

                                <div class="feature feature-1 boxed boxed--border">
                                    <h5> B2B’nin Firmalara Avantajları</h5><br />
                                    - Satış ve kar oranlarında artış<br />
                                    - İç pazarda rekabet üstünlüğü<br />
                                    - Küresel pazarlardan pay kapma<br />
                                    - Pazar çeşitliliğinde artış<br />
                                    - Parça başı maliyetlerde düşüş<br />
                                    - Talepler açısından zaman sınırının ortadan kalkması<br />
                                    - Şirket büyümesi açısımdan fırsat<br />
                                    - Yeni bilgi ve deneyim edinme fırsatı<br />



                                </div>
                            </div>
                        </center>





                    </p>

                </div>
            </div>
        </div>
    </section>


</div>
