
@{
    ViewBag.Title = "erp";
}

<div class="main-container">
    <section class="cover-height-60 imagebg space--lg" data-overlay="3">
        <div class="background-image-holder">
            <img alt="background" src="img/erpphoto_2.jpg" />
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-3">
                    <br><br><br><br>
                    <h2>
                        Kurumsal ihtiyaçlar için kurumsal yaklaşım
                    </h2>
                </div>

                <div class="col-sm-8 col-sm-offset-1 col-md-6 col-md-offset-4">
                    <p class="lead">
                        Kaliteyi ve izlenebilirliği sağlayarak yükselin.
                    </p>


                </div>
            </div>
        </div>
    </section>

    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-2">
                    <h2>ERP</h2>
                    <h2>Kurumsal Kaynak Planlaması</h2>
                    <br />
                    <p>
                        <strong>Entegre Finansal Bilgiler</strong> <br />
                        Firma CEO’su firma hakkında genel bir performans değerlendirmesi elde etmek istediğinde Pek çok farklı doğru bilgiye ulaşacaktır.
                        Finansın kendine ait gelir rakamları mevcuttur, satışların farklı bir rakamı vardır, ve buna benzer şekilde farklı departmanların
                        farklı gelir tabloları olacaktır. ERP ise soru işareti bırakmayacak tek bir doğru tabloyu oluşturacaktır çünkü herkes aynı sistemi kullanır.
                        Doğuş sistem Kurumsal Yönetim Sistemi bünyesinde barındırdığı zengin hazır rapor şablonları
                        ve kişinin rapor oluşturabileceği kullanışlı araçlarla çok çeşitli raporlar sunar.
                    </p>
                    <p>
                        <strong>Entegre Müşteri Sipariş Bilgisi</strong><br />
                        ERP sistemleri müşteri siparişlerinin müşteri ilişkileri temsilcileri tarafından alınıp, yükleme yapılana
                        kadar ve finansın gönderdiği fatura bilgileri gibi tüm verilerin toplandığı yerdir. Birbirinden kopuk,
                        iletişim kuramayan çok farklı sistemlerin yerine bu bilgiyi tek bir sistemde toplayarak, firmalara farklı
                        lokasyonlarda gerçekleşen iş akışlarını, siparişleri daha kolay takip etmeyi, imalatı koordine etmeyi, fatura ve yükleme işlemlerini takip etmeyi sağlar.
                        Doğuş sistem Kurumsal Yönetim Sistemi tüm iş akışlarını bulutta birleştirir ve sağlıklı bir müşteri takibi yapılır.
                    </p>
                    <p>
                        <strong>Standardizasyon ve İmalat İşlem Hızlarının Artması</strong> <br />
                        İmalatçı firmalar, özellikle büyük birleşme ve satın almalar ile farklı iş üniteleri,
                        iş yöntemleri, bilgisayar sistemleri olan kurumları bir sistemde altında toplar. ERP
                        tüm bu farklı imalat aşamaları için bir standart metot geliştirir. Doğuş sistem Kurumsal Yönetim
                        Sistemi, küçük ve orta ölçekli üretim yapan işletmeler için oluşturduğu esnek standardizasyon sayesinde
                        tüm bu iş akışları tek bir entegre bilgisayar sistemi ile zamanı olumlu kullanırken, verimliliği artırır ve maliyetleri düşürür.
                    </p>
                    <p>
                        <strong>Stokları optimize eder</strong><br />
                        İmalat iş akışlarını düzenleyerek, siparişin işletme için de hangi aşamada olduğunu görmemize imkan tanır. Çalışan sistem içinde stok kayıtlarının düzenli ve yeterli düzeyde kontrolünü sağlar, bu da müşterilere daha iyi teslimatlar imkanı tanırken, stok düzeyinin de firma için ideal seviye de
                        olmasını ve yüklemelerin sorunsuz yürümesini sağlar. Doğuş sistem Kurumsal Yönetim Sisteminde tüm süreçlerin akışı kolaylıkla yapılabilmektedir.
                    </p>
                    <p>
                        <strong>İK Bilgilerinin Standardizasyonu</strong><br />
                        Özellikle çok sayıda departmana sahip firmalarda, İK tek bir çatı
                        altında toplanmamıştır, en basitinden çalışanların sosyal hakları, iletişim ve hizmetler gibi.
                        ERP bu sorunu da çözer. Çoğu çözüm paketleri oldukça ayrıntılı
                        gelişmiş çözümlerdir, her sektörün özel durumlarına göre geliştirilerek o sektör için tek bir çözüm olur adeta.
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>
