
@{
    ViewBag.Title = "mobileapp";
}

<div class="main-container">
    <section class="cover-height-30 imagebg space--lg" data-overlay="3">
        <div class="background-image-holder">
            <img alt="background" src="img/mobilbanner14.png" />
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-7 col-md-offset-3">
                    <br><br><br><br>
                    <h2>
                        Büyük fikirleri cebinize sığdırıyoruz
                    </h2>
                </div>
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-4">
                    <p class="lead">
                        Tüm telefonlar için ortak mobil uygulama
                    </p>
                </div>

    </section>
    <section class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-2">
                    <h2>Kitlenize Uygun Mobil Çözümler</h2>
                    <p>
                        Günlük yaşantımız içerisinde küçükten büyüğe hemen herkesin dışarıya çıkarken bile yanından hiç eksik etmediği akıllı telefonları bulunuyor. Mobil uygulama gerek cep telefonlarına gerekse de tablet gibi işletim sistemlerine özel olarak kodlanmış olan yazılımlara deniyor. Genelde bu tür uygulama sistemleri mobil site ile her ne kadar karıştırılmış olsa da araların da
                        çok fazla benzerlik taşımadıklarının altını da çizmek isteriz. Bu tür uygulamalar cihaza özel olarak tasarlanarak kodlanmaktadır.
                    </p>

                </div>
            </div>
        </div>
    </section>
    <section class="imageblock switchable feature-large bg--secondary space--sm">
        <div class="imageblock__content col-md-6 col-sm-4 pos-right">
            <div class="background-image-holder">
                <img alt="image" src="img/mobile1.jpg" />
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <h2>Android Uygulama</h2>
                    <p class="lead">

                        Google play'den indirilerek uygulamanızı kitlelere ulaştırmak istemez misiniz? Tam da olmanız gereken yerdesiniz.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="imageblock switchable switchable--switch feature-large bg--secondary space--sm">
        <div class="imageblock__content col-md-6 col-sm-4 pos-right">
            <div class="background-image-holder">
                <img alt="image" src="img/mobil2.jpg" />
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <h2>İos Uygulama</h2>
                    <p class="lead">
                        App Store'dan indirilerek uygulamanızı kitlelere ulaştırmak istemez misiniz? Tam da olmanız gereken yerdesiniz.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="imageblock switchable feature-large bg--secondary space--sm">
        <div class="imageblock__content col-md-6 col-sm-4 pos-right">
            <div class="background-image-holder">
                <img alt="image" src="img/mobil3.jpg" />
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-7">
                    <h2>Windows Uygulaması</h2>
                    <p class="lead">
                        Mağaza'dan indirilerek uygulamanızı kitlelere ulaştırmak istemez misiniz? Tam da olmanız gereken yerdesiniz.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>