
@{
    ViewBag.Title = "DoğuşSoft | Hakkımızda";
}


<div class="main-container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
              
                    <img src="~/Content/img/hakkımızda1.jpg" alt="doğuşSoft_hakkımızda">

            </div>

        </div>
    </div>

    <section class="text-center">
        <div class="container">
            <div class="row">
                <h3>Modern çağın gerekliliklerini en iyi şekilde hizmet vermek için kuruldu.</h3>

                <div class="col-sm-12 col-md-12 " align="left">

                    <p>
                        Doğuş Soft 2013 yılında modern çağın gereklilik ve ihtiyaçlarını gözeterek kuruldu.

                        Online dünyada yer alan bireysel ve kurumsal çalışmalara hayat veren,
                        çağın yakın takipçisi ve öncüsü olma hedefi ile ilerlemekteyiz.
                        Genç ve Dinamik Kadromuz ile dijital anlamda tüm ihtiyaçlarınızı karşılama amacıyla
                        projelerinizi sürdürmekteyiz.
                    </p>
                    <p>
                        Hedeflerinize ve iş planınıza yönelik kreatif çözümler
                        üreten uzman ekibimiz, dijital çağın pratik ve kaliteli hizmet anlayışını kullanıcılarla
                        buluşturmaktadır. Doğuş Soft; tüm projelerinde stratejik bir hizmet anlayışı benimseyerek,
                        inovatif çözümler üreten başarılı bir yazılım şirketi olma başarısına ulaşmış,
                        Müşteri memnuniyeti odaklı projeleri sayesinde kısa zamanda ivme kazanmıştır.
                        Doğuş Soft; kaliteli, hızlı ve beklentilere uygun çalışma prensibi ile online
                        dünyanın zirvedeki isimleri arasına yerleşmiştir.
                    </p>
                    <p>
                        Doğuş Soft'un geniş hizmet yelpazesinde; CRM Yazılımları,
                        modüler ERP çözümleri, Online muhasebe yazılımları,
                        E-ticaret sistemleri, B2B Sistemleri, Mobil uygulamalar,
                        Kiralama yazılımları, Stok – Depo entegre sistemler ve şirketlere özel yazılımlar
                        gibi bir çok seçenek mevcuttur. Doğuş Soft Paket yazılımların yetersizliğinden
                        dolayı şirketlerin iç yapısına uygun ve özel istekleri destekleyen Yazılımlar geliştirir.
                        Bunun dışında Doğuş Soft ekibi bu süreçlerin öncesi ve sonrasında gerekli olan
                        Yazılım Danışmanlığı, Üretim Danışmanlığı, E-Ticaret Danışmanlığı,
                        Sosyal Medya ve Reklam Danışmanlığı desteği ile sürekli müşterilerinin yanındadır.
                        Dijital teknolojiler alanında özgün, müşteri odaklı ve etkin çalışmalar üreten
                        Doğuş Soft; kullanıcılara daha efektif bir dijital dünyanın kapılarını aralamaktadır.
                        Markanızın dijital dünyadaki konumu hakkında beklentilere uygun stratejiler
                        geliştiren ve ilerleme sürecinizi hızlandıran Doğuş Soft; profesyonel
                        hizmet dünyasında doğru hedef kitleye ulaşmanızı sağlar. Modern çağın tekniklerini
                        özverili hizmet anlayışı ile bünyesinde toplayan Doğuş Soft; uzun vadeli çözüm
                        ortağınız olmayı hedeflemektedir.
                    </p>
                </div>

            </div>
        </div>
    </section>

</div>