
@{
    ViewBag.Title = "DoğuşSoft | Referanslar";
}

<div class="main-container">




    <section class="text-center imagebg space--md" data-overlay="3">
        <div class="background-image-holder">
            <img alt="background" src="/content/img/referanslar.jpg" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6">
                    <h1> Referanslarımız </h1>
                    <p class="lead">

                    </p>
                </div>
            </div>
        </div>
    </section>


    <section class="switchable feature-large " style="padding-top:15px">
        <div class="container">





            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="switchable__text">
                        <h2>Fethiye Ölüdeniz Yamaç Paraşütü</h2>
                        <p><a target="_blank" href="http://www.deriji.net">Siteyi incele &raquo;</a>  </p>
                        <img alt="Image" class="border--round box-shadow-wide" src="/content/referances/oludenizyamacparasutu.jpg" />

                    </div>
                </div>



                <div class="col-sm-6 col-md-6">
                    <div class="switchable__text">
                        <h2>Deriji</h2>
                        <p><a target="_blank" href="http://www.deriji.net">Siteyi incele &raquo;</a>  </p>
                        <img alt="Image" class="border--round box-shadow-wide" src="/content/referances/deriji.jpg" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="switchable__text">
                        <h2>The Millions</h2>
                        <p> <a target="_blank" href="http://www.themillions.com.tr">Siteyi incele &raquo;</a>  </p>
                        <img alt="Image" class="border--round box-shadow-wide" src="/content/referances/themillionscafe.jpg" />
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="switchable__text">
                        <h2>Kızılyar İnşaat </h2>
                        <p><a target="_blank" href="http://www.kizilyarinsaat.com">Siteyi incele &raquo;</a>  </p>
                        <img alt="Image" class="border--round box-shadow-wide" src="/content/referances/kizilyarinsaat.jpg" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="switchable__text">
                        <h2>Irmak Pvc Yapı</h2>
                        <p> <a target="_blank" href="http://www.irmakpvcyapi.com">Siteyi incele &raquo;</a>  </p>
                        <img alt="Image" class="border--round box-shadow-wide" src="/content/referances/irmakpvcyapi.jpg" />
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="switchable__text">
                        <h2>Keyif Taksi </h2>
                        <p><a target="_blank" href="http://www.keyiftaksi.com">Siteyi incele &raquo;</a>  </p>
                        <img alt="Image" class="border--round box-shadow-wide" src="/content/referances/keyiftaksi.jpg" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="switchable__text">
                        <h2>Kamera Kurdu </h2>
                        <p><a target="_blank" href="http://www.kamerakurdu.com">Siteyi incele &raquo;</a>  </p>
                        <img alt="Image" class="border--round box-shadow-wide" src="/content/referances/kamerakurdu.jpg" />
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="switchable__text">
                        <h2>Cansu Yalçın </h2>
                        <p><a target="_blank" href="http://www.cansuyalcin.com.tr">Siteyi incele &raquo;</a>  </p>
                        <img alt="Image" class="border--round box-shadow-wide" src="/content/referances/cansuyalcin.jpg" />
                    </div>
                </div>



            </div>


        </div>
    </section>
</div>