
@{
    ViewBag.Title = "DoğuşSoft | Hizmetlerimiz";
}

<div class="main-container" style="position: relative;">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <a href="http://hareketlifoto.com">
                    <img src="~/Content/img/360dfpageBanner.jpg" alt="doğuşSoft banner">

                </a>
            </div>         
                       
        </div>
    </div>

    <section class="switchable feature-large " style="margin-top:0px">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <h2 align="center" style="margin-bottom: 5px;margin-top:0px">360DF İle Ürünlerinizi Canlandırın</h2>
                        <p align="center" style="margin-bottom: 10px">
                            E-Ticaret sistemimize ürünlerinizi 360 derece mükemmel bir görünümle eklemenize olanak sağlıyoruz.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6" style="margin-top: 10px">

                    <div style="padding: 60% 0 0 0; width: 100%; position: relative;">

                        <iframe src="http://hareketlifoto.com/viewer/2b1f5abdda874f9f" frameborder="0" scrolling="no" style="background-color: #fff; border: 1px solid ; position: absolute; top: 0; left: 0; width: 100%; height: 350px;" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6" style="background-color: #ffffff;margin-bottom:100px;" >
                    <div class="switchable__text text-left">
                        <h3>  360DF Mükemmel bir görünüm kazanın! </h3>
                        <p>
                            Sizde yanda görmüş olduğunuz 360° fotoğraf ile ürünlerinize muhteşem bir görüntü katabilirsiniz.
                            Bu sizin ürnlerinizi kusursuz gösterecek ve öüşteri memnuniyetini en üst seviyeye çıkaracaktır.
                        </p>
                        <p>
                            <b>1. )</b> İster 360DF makinemizi alıp tüm ürünlerinizi 360° görünecek şekilde ekleyebilirsiniz.
                        </p>
                        <p>
                            <b>2. )</b> İsterseniz de ürünlerinizi bize getirin 360° fotoğraf çekim hizmetimizden faydalanabilirsiniz.
                        </p>
                        <a class="btn btn--primary" href="http://hareketlifoto.com">
                            <span class="btn__text">
                                TÜM DETAYLARIYLA HAREKETLİFOTO
                            </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    


    <section class="switchable feature-large " style="background-color: #f5f5f5">
        <div class="container">
            <div class="row">
                <h2 align="center" style="margin-bottom: 0px;margin-top:10px">Ticarette fark atmanız için yanınızdayız!</h2>
                <div class="col-sm-6 col-md-6 " >
                    <h3 style="margin-bottom:0;">Nedir Bu 360DF ?</h3>
                    <p>
                        360DF ürününüzün 360° fotoğrafını çeken mini bir fotoğraf kabinidir.
                        Burada çekilen fotoğraflarınız hareketlifoto.com sitemine aktarılmaktadır.
                    </p>

                    <h2 margin-bottom:0;">hareketlifoto.com Nedir?</h2>
                    <p >
                        360DF ile entgre çalışan ve 360DF ile çekilen fotoğraflarınızı barındırabildiğiniz,
                        aynı zamanda fotoğraflarınızı paylaşma, sms atma, sosyal medya ve e-ticaret sistemleri ile entegrasyonları sayesinde
                        hem satış yapabilmenizi hemde ürün tanıtım ve reklamını üst düzeyde yapabilmenizi sağlayan kurumsal bir sistemdir. <br />

                        Bu sistem sayesinde ürünlerinizi e-ticaret sitenizde canlandıracak ve ürün tanıtımınızı en üst seviyeye çıkaracaksınız!
                        <br /><br />
                     </p>
                    <a class="btn btn--primary" href="http://hareketlifoto.com" target="_blank">
                        <span class="btn__text">
                            TÜM DETAYLARIYLA 360DF
                        </span>
                    </a>
                </div>
                <div class="col-sm-6 col-md-6">

                    <img alt="Image" src="~/Content/img/360dfSayfasi2.jpg" style="margin-top:30px;border:1px solid black;width:100%" />
                </div>
                
            </div>
        </div>
    </section>


    <section class="text-center  " >
        <div class="container">
            <div class="row">
                
                <div class="col-md-12" align="left">
                    <h2 style="margin-bottom:0;">Ürün Çekim Hizmeti</h2>
                    <p >
                        Ne teknolojik gelişmelerden ne de ürün tanıtım hizmetlerinden geri kalmayın!<br />
                        360DF kabini almak için imkanımız yok veya almak istemiyorum diyorsanız; ürününüzü getirin
                        çekim hizmetimizden faydalanarak ürünlerinizi çanlandırın!<br /><br />

                        Ürün çekim hizmeti olarak fotoğraf studyomuzu kullanıp kendi ürün fotoğraflarınızı
                        çekebilirsiniz veya bizim profesyonel fotoğraf çekim ekibimize bırakın ürünlerinizi biz çekelim.<br /><br />

                    </p>
                    <a class="btn btn--primary" href="http://hareketlifoto.com/#contact" target="_blank">
                        <span class="btn__text">
                            HEMEN İLETİŞİME GEÇİN
                        </span>
                    </a>
                </div>
               
                
            </div>
        </div><br />
        

    </section>

</div>