
@{
    ViewBag.Title = "DoğuşSoft | Çözüm Ortaklarımız";
}

<div class="main-container">



    <section class="text-center imagebg space--sm" data-overlay="3">
        <div class="background-image-holder" style="height:120%">
            <img alt="background" src="/content/img/work.jpg" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6">
                    <h1> Çözüm Ortaklarımız </h1>
                    <p class="lead">
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center">
        <div class="col-sm-12">
            <h2 class="type--uppercase">
                Banka

            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/1.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/2.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/3.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/4.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/5.png" />
                </div>

                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/6.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/7.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/8.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/9.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/10.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/11.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/12.png" />
                </div>
                <div class="col-md-3"></div>
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/13.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/15.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img alt="background" src="/content/partners/banka/16.png" />
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

    </section>
    <section class="text-center " style="background-color: #f5f5f5">
        <div class="col-sm-12">
            <h2 class="type--uppercase">
                Ödeme Aracı Kuruluş
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/odeme/ipara-logo.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/odeme/iyzico-logo.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/odeme/paypal-logo.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/odeme/payu-logo.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/odeme/paytr-logo.png" />
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>

    <section class="text-center">
        <div class="col-sm-12">
            <h2 class="type--uppercase">
                Kargo
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-2 col-xs-6">
                    <img src="/content/partners/kargo/aras-logo.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/kargo/mng-logo.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/kargo/surat-logo.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/kargo/ups-logo.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/kargo/yurtici-logo.png" />

                </div>
                <div class="col-md-1"></div>

            </div>
        </div>
    </section>

    <section class="text-center " style="background-color: #f5f5f5">
        <div class="col-sm-12">
            <h2 class="type--uppercase">
                Pazar Yerİ
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2 col-xs-6">
                    <img src="/content/partners/pazaryeri/gittigidiyor-logo.jpg" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/pazaryeri/hepsiburada-logo.jpg" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/pazaryeri/n11-logo.jpg" />
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>

    <section class="text-center">
        <div class="col-sm-12">
            <h2 class="type--uppercase">
                FİYAT KARŞILAŞTIRMA
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-2 col-xs-6">
                    <img src="/content/partners/fiyatkarsilastirma/cimri-logo.png" />

                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/fiyatkarsilastirma/alve-logo.png" />

                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/fiyatkarsilastirma/akakce-logo.png" />
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>

    <section class="text-center " style="background-color: #f5f5f5">
        <div class="col-sm-12">
            <h2 class="type--uppercase">
                TEKNOLOJİ
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="/content/partners/teknoloji/microsoft-logo.jpg" />
                </div>
                <div class="col-md-2 col-xs-6">
                    <img src="/content/partners/teknoloji/android-logo.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/teknoloji/ios-logo.png" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/teknoloji/java-logo.jpg" />
                </div>
                <div class="col-md-2">
                    <img src="/content/partners/teknoloji/windows-logo.png" />
                </div>
                <div class="col-md-2">
                    <img src="/content/partners/teknoloji/oracle-logo.jpg" />
                </div>
            </div>
        </div>
    </section>


    <section class="text-center">
        <div class="col-sm-12">
            <h2 class="type--uppercase">
                TİCARİ
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-2">
                    <img src="/content/partners/ticari/goplus-logo.jpg" />
                </div>
                <div class="col-md-2 col-xs-6">
                    <img src="/content/partners/ticari/mikro-logo.jpg" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/ticari/nebim-logo.jpg" />
                </div>
                <div class="col-sm-2 col-xs-6">
                    <img src="/content/partners/ticari/netsis-logo.jpg" />
                </div>
                <div class="col-md-2"></div>

            </div>
        </div>
    </section>
</div>