
@{
    ViewBag.Title = "Admin | Ana Sayfa";
}


<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12" align="center">
                <h3>ADMİN PANELİ </h3>
            </div>
        </div>
        <!-- /. ROW  -->
        <hr />
        <div class="row">
            <div class="col-lg-12 ">
                <div class="alert alert-info">
                    <strong>Admin paneline hoş geldiniz! </strong>  
                </div>

            </div>
        </div>

        <!-- /. ROW -->
        <div class="row">
            <div class="col-lg-12 ">
                <br />
                <div class="alert alert-danger">
                    <strong>Önemli haber ve uyarılar burada görülecektir.> </strong>
                </div>

            </div>
        </div> 
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>